
.hello{
  text-align:left;
}
li {
  margin: 0 10px;
}
.name{
  background:#e4e4e4;
}
a {
  color: #42b983;
}
// .inputWrapper{
//     .input{
//       width:220x;
//       height:25px;
//       border:#e9e9e9 solid 1px;
//       padding:2px 8px;

//     }
// }
.error{
  color:red;
  text-align:left;
  font-size:12px;
  padding:5px 2px;
}
// input{
//       width:220x;
//       height:25px;
     
// }